127.0.0.1       front   front
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# DBHosts
192.168.34.22 laravel-api-db.master-1
192.168.34.22 laravel-api-db.slave-1-1
192.168.34.22 laravel-api-db.slave-1-2
