-----BEGIN CERTIFICATE-----
MIIE3DCCAsQCCQDyHKnZ4j/3RjANBgkqhkiG9w0BAQsFADAwMQswCQYDVQQGEwJK
UDEOMAwGA1UEBwwFVE9LWU8xETAPBgNVBAoMCHRlc3QgTHRkMB4XDTE2MDcxOTA0
NTYyMVoXDTE3MDcxOTA0NTYyMVowMDELMAkGA1UEBhMCSlAxDjAMBgNVBAcMBVRP
S1lPMREwDwYDVQQKDAh0ZXN0IEx0ZDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCC
AgoCggIBAKWLJO78EKwrtj8l3705Fdghd7pClzNwlyUe+mtWZx6Hl8Y7BFg4tC0n
uJYHm5vYTuHe6EsrYFMLVEsldSMbeYl0ppPvh8o1w5qUkp3TVAvWX7cSf08r33S7
OBX6PvGoh32mPS/czNCvqVB53FSahwVIdIbigdcNkyBG59X+9KMMYIjTAiPwnTw4
CJaopy6grGCqMgt8eq2xgdlX1U0VMJCq+Qde8bTEFao0SZm2z86ukuU4bLJ4lUjd
Z49dFGi52e0mIaJEznjzM6UCTlDAuXCZ93pyoA8wNk4EvvBb3NQXOnL5gpOt8nia
cXk2iu770iWVpu7ou4s3cZtx+oV57tAnVNF/J7+v53wI8h44jUuG98GW2cyIQyR9
UsnnWn0nI7GUqCUZEpahFOQgC287uvPfXfYXksR3F4q80EHSJjXuWUy5halwucck
SZQyAXD0HBcDlegZMYc2DJ+P8Adll4PseLljTtrDgocZSqbLeKOehw4NDaTKTX9T
r/JrtjojamzQmAtVCmTfxvMxf9fv+OZT8q2s4qJ04CTow24cNxbBU5WNt+Y98utn
7Hl0KbLrHS9k2U5qOkcQg7fk83gtfejZQ2lNPtz67ZPVxSeTox2ClsIiBxz3f0N+
YP4RfnepGNEuG05u6zBSOUDGNUIwg70x8EbicqhJ6T3vleoQM3oRAgMBAAEwDQYJ
KoZIhvcNAQELBQADggIBAHU33NZJaJ08q3wbLHL0qRcktCikK0fdjFFCOi756fLR
jvYempqPBBrQrkBm1ubVDj/2noevqJ8T1CrfPhDLxKbhE+yLXubb6+4zv+a98SNo
jHOBzRuSN1VDb8gN+f6rdeUVGcQjP/emd9DnKostG0Ib3H4BpnHdJ8BM5uPn642H
Y4LUMLF68/zmNiXOJ5n3fqCSS0t6tGuW2xttNbCMaPqoqZ1T0LE3hsdyO3+eVo/r
tDO9cZaD86BxPan0bMZY/JGWGaKKVb0ehuw96jbQW6mHi+Ikhhm9V+sc23gcSam/
VHpY4RpAMmaJ43TBJtcXvnPw7u6iNiAwJdyHN1SyEi2fb6VtROId4OcdY35SfXkS
ra9/4/UnhNeBw8TflcXNXUsMMq0n8/m5HydMvyFXDX5SXEImuMGyD7JYe0ZWyQCW
msqAlueRpJb5LIfmIarRk9kMfwjcGZhR2QLOoEgPpTWoGk2JyVI0ekL3l5f271ap
fjMXcOhSLS1Hd3xAgWqy7kx+yUfWAmksYZ28+IAQ/atZuvkWI0d7IvFjmIe0PIZJ
AJgVRr50ycIyqmz6Z/GC7k4plEghJYGnilRvBT7Qte6hHnlXFfBPSWX1q2YVBKuS
tXlsP3lbUKYi4ial2KnKozNg0vdA8wlABqfYIJNBwIKFG8tCshT9DIRxmiNjKSgp
-----END CERTIFICATE-----
